@import "utils";
@import "themes";

:host {
  display: block;
  height: 100%;
}
mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 9999;
}
.spacer {
  flex: 1 1 auto;
}

.outlet-wrapper {
  position: relative;
  padding: 3rem;
}

mat-sidenav-container {
  height: 100%;
}

.mobile {
  margin-top: rem(64px);
  padding-top: 1rem;
}

mat-sidenav-content {
  height: 100%;
}
.theme-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
mat-sidenav {
  padding: 3rem 1rem;
  a {
    text-decoration: none;
    color: inherit;
  }
  mat-accordion > a {
    display: block;
    text-decoration: none;
    color: inherit;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    padding: 0 1rem;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .name {
    margin-top: 0.25rem;
    font-size: 1.5rem;
  }
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .designation {
    margin-top: -0.5rem;
    font-size: 1rem;
  }

  .socials {
    display: grid;
    grid-template-areas: "twitter github linkedIn";
  }
  .social {
    width: 32px;
    height: 32px;
    margin-left: 1rem;
    color: currentColor;
  }
  mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
