@import 'utils';
@import 'themes';
// variables

$viewport-max-width: 1024px;
$viewport-offset-x: 64px;
$toolbar-desktop-height: rem(64px);

// mixins

@mixin viewport-width($padding: true) {
  margin: 0 auto;
  max-width: $viewport-max-width;

  @if ($padding) {
    padding-left: $viewport-offset-x;
    padding-right: $viewport-offset-x;
  }
}

:host {
  display: block;
  height: 100%;
}
mat-toolbar {
  padding: 0 30px;
  position: fixed;
  top: 0;
  z-index: 9999;
  h1 {
    cursor: pointer;
    font-size: 32px !important;
  }
  .avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: white;
    margin-right: 1rem;
  }
  .social {
    width:32px;
    height: 32px;
    margin-left: 1rem;
  }
}
.spacer {
  flex: 1 1 auto;
}

.outlet-wrapper {
  @include viewport-width();
  position: relative;
}

mat-sidenav-container {
  height: 100%;
  padding-top: 64px
;
}
mat-sidenav-content {
  padding-top: 2rem;
}
mat-sidenav {
  padding: calc(64px + 2rem) 1rem;
  a {
    text-decoration: none;
    color: inherit;
  }
  mat-accordion > a {
    display: block;
    text-decoration: none;
    color: inherit;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    padding: 0 1rem;
  }
}
