/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 15px;
}
blockquote {
  border-left: 3px solid rgba(0,0,0,0.21);
  padding: 0.5rem;
  background-color: rgba(0,0,0,0.10);
  margin: 0;
  > p {
    margin: 0 !important;
  }
}

pre {
  &::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.7);
  }

  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
  }
}

section {
  margin-top: 40px;
}

table {
  width: 100%;

  th {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    font-weight: 500;
    height: 56px;
  }

  th[align=''],
  th:not([align]) {
    text-align: left;
  }

  td {
    font-size: 15px;
    height: 48px;
  }

  td,
  th {
    border-bottom-color: rgba(0, 0, 0, 0.12);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 0;
  }
}

textarea {
  font-family: monospace !important;
}

[hidden] {
  display: none !important;
}

* {
  box-sizing: border-box;
}
