@import '~@angular/material/theming';

$airbus-blue-selected: #167dde;
$airbus-blue-dark: #001a5c;
$airbus-blue-grey: #4d5f8d;
$airbus-light-grey: #f7f7f7;
$airbus-cyan: #17a2b8;

$airbus-palette-blue: mat-palette(
  (
    50: #e0e4eb,
    100: #b3bace,
    200: #808dae,
    300: $airbus-blue-grey,
    400: #263c74,
    500: $airbus-blue-dark,
    600: #001754,
    700: #00134a,
    800: #000f41,
    900: $airbus-blue-selected,
    A100: #6972ff,
    A200: #3642ff,
    A400: #0312ff,
    A700: #000ee8,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #ffffff,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #ffffff,
      A200: #ffffff,
      A400: #ffffff,
      A700: #ffffff,
    ),
  )
);

$airbus-palette-cyan: mat-palette(
  (
    50: #e3f4f6,
    100: #b9e3ea,
    200: #8bd1dc,
    300: #5dbecd,
    400: #3ab0c3,
    500: $airbus-cyan,
    600: #149ab1,
    700: #1190a8,
    800: #0d86a0,
    900: #077591,
    A100: #bef0ff,
    A200: #8be4ff,
    A400: #58d9ff,
    A700: #3fd3ff,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #000000,
      600: #000000,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000,
    ),
  )
);

$light-theme-foreground: $mat-light-theme-foreground;
$light-theme-background: $mat-light-theme-background;
$light-theme: (
  primary: $airbus-palette-blue,
  accent: $airbus-palette-cyan,
  success: mat-palette($mat-green),
  warn: mat-palette($mat-red),
  is-dark: false,
  foreground: $light-theme-foreground,
  background: $light-theme-background,
);
