<ng-container *ngIf="pages$ | async as pages">
  <div class="home">
    <div class="links">
      <mat-card *ngFor="let pagesByCategory of pages | keyvalue">
        <mat-card-title
          >{{ pagesByCategory.key }}
          <div class="spacer"></div>
          <a [routerLink]="['', 'category']" [queryParams]="{ q: pagesByCategory.key }">View all ></a></mat-card-title
        >
        <hr />
        <mat-card-content>
          <ul>
            <li *ngFor="let page of pagesByCategory.value">
              <a [routerLink]="['', 'page', page.path]">{{ page.title }}</a>
              <p>{{ page.shortDescription }}</p>
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-container>
