.main-content {
  display: grid;
  width: 100%;
  grid-template-areas: "page summary";
  grid-auto-columns: auto minmax(auto, max-content);
}
.page-nav {
  position: sticky;
  padding-left: 3rem;
}
mat-divider {
  margin: 3rem 0;
}
.scrollup-button {
  margin: 14px;
  mat-icon {
    color: white;
  }
  &--fixed {
    bottom: 16px;
    position: fixed;
    right: 16px;
  }
}
.popup-button {
  position: absolute;
  right: 2rem;
  top: 2rem;
}
