<div
  class="main-content"
  [class.small]="displayMode === 'popup' || (!displaySummary && !displayLinks)"
>
  <div class="page-content">
    <ng-content></ng-content>
  </div>
  <ng-container
    *ngIf="
      displayMode === 'popup' &&
      ((displaySummary && headings && headings.length > 0) ||
        (displayLinks && page))
    "
  >
    <button
      color="accent"
      mat-mini-fab
      class="popup-button"
      (click)="isOpen = !isOpen"
      type="button"
      cdkOverlayOrigin
      #trigger="cdkOverlayOrigin"
    >
      <mat-icon>list</mat-icon>
    </button>
    <ng-template
      cdkConnectedOverlay
      cdkConnectedOverlayHasBackdrop="true"
      [cdkConnectedOverlayOrigin]="trigger"
      [cdkConnectedOverlayOpen]="isOpen"
      (backdropClick)="isOpen = false"
    >
      <ng-container *ngTemplateOutlet="pageNav"></ng-container>
    </ng-template>
  </ng-container>
  <div
    *ngIf="
      displayMode === 'side' &&
      ((displaySummary && headings && headings.length > 0) ||
        (displayLinks && page))
    "
  >
    <ng-container *ngTemplateOutlet="pageNav"></ng-container>
  </div>
</div>

<ng-template #pageNav>
  <div [ngClass]="displayMode === 'popup' ? 'popup' : 'page-nav'">
    <ng-container *ngIf="displaySummary && headings && headings.length > 0">
      <div class="summary">
        <h3>Summary</h3>
        <ngxme-scrollspy-nav
          (click)="isOpen = false"
          [headings]="headings"
        ></ngxme-scrollspy-nav>
        <button
          class="scrollup-button"
          mat-mini-fab
          (click)="onScrollUp()"
          *ngIf="showScrollUpButton"
          [@zoomAnimation]
        >
          <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
      </div>
    </ng-container>
    <mat-divider
      *ngIf="
        displaySummary &&
        headings &&
        headings.length > 0 &&
        displayLinks &&
        page
      "
    ></mat-divider>
    <ng-container *ngIf="displayLinks && page">
      <div class="tags">
        <h3>Category</h3>
        <mat-chip-list>
          <mat-chip
            color="accent"
            selected
            [routerLink]="['', RouteName.Category]"
            [queryParams]="{ q: page.category }"
            >{{ page.category }}</mat-chip
          >
        </mat-chip-list>
        <br />
        <h3>Tags</h3>
        <mat-chip-list>
          <mat-chip
            color="accent"
            selected
            *ngFor="let tag of page.tags"
            [routerLink]="['', RouteName.Tag]"
            [queryParams]="{ q: tag }"
            >{{ tag }}</mat-chip
          >
        </mat-chip-list>
      </div>
    </ng-container>
  </div>
</ng-template>
